
header #profile {
    max-width: 20%;
    border-radius: 50%;
    border-color: #0a1d3d;
}

header {
    position: relative;
    background-color: black;
    height: 50vh;
    min-height: 30rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    overflow: hidden;
}

#navbarText ul {
    margin: 0 auto;
}

.jumbotron {
    max-width: 70%;
    margin: 0 auto;
    width: 100%;
}

footer .div .span{
    align-items: center;
}


.profile {
    max-width: 50%;
    border-color: #0a1d3d;
}
